USE [master]
GO
/****** Object:  Database [Dixon_Command_Center]    Script Date: 29-09-2026 22:31:54 ******/
CREATE DATABASE [Dixon_Command_Center]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dixon_Command_Center', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Dixon_Command_Center.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dixon_Command_Center_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Dixon_Command_Center_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dixon_Command_Center].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dixon_Command_Center]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CategoryName] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Category_Customer] UNIQUE NONCLUSTERED 
(
	[CustomerId] ASC,
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Customer_Name] UNIQUE NONCLUSTERED 
(
	[CustomerName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyIssue]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyIssue](
	[DailyIssueId] [int] IDENTITY(1,1) NOT NULL,
	[DailyReportId] [int] NOT NULL,
	[IssueDescription] [varchar](2000) NOT NULL,
	[IssueMinutes] [decimal](10, 2) NULL,
	[Department] [varchar](100) NULL,
	[IssueCategory] [varchar](100) NULL,
	[TopContributor] [varchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DailyIssueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyReport]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReport](
	[DailyReportId] [int] IDENTITY(1,1) NOT NULL,
	[ReportDate] [date] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[LineId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [varchar](30) NOT NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[ApprovedAt] [datetime2](7) NULL,
	[ApprovedBy] [int] NULL,
	[RejectionReason] [varchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[DailyReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DailyReport] UNIQUE NONCLUSTERED 
(
	[ReportDate] ASC,
	[CustomerId] ASC,
	[CategoryId] ASC,
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPI_Daily]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPI_Daily](
	[KPI_DailyId] [int] IDENTITY(1,1) NOT NULL,
	[KPI_MasterId] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[ProductionActual] [decimal](18, 2) NULL,
	[UPHActual] [decimal](18, 2) NULL,
	[UPPHActual] [decimal](18, 2) NULL,
	[CPHActual] [decimal](18, 2) NULL,
	[FPYActual] [decimal](10, 4) NULL,
	[FTYActual] [decimal](10, 4) NULL,
	[RTYActual] [decimal](10, 4) NULL,
	[OSDReportingDateValue] [decimal](18, 2) NULL,
	[OSDMTDValue] [decimal](18, 2) NULL,
	[ActualOTManhours] [decimal](18, 2) NULL,
	[OpenWOQty] [int] NULL,
	[Over7DaysWOBalanceQty] [int] NULL,
	[DailyTRCInQty] [int] NULL,
	[DailyTRCOutQty] [int] NULL,
	[TRCOverallFailureInflowPercent] [decimal](10, 4) NULL,
	[TRCLyingOver3DaysCr] [decimal](18, 2) NULL,
	[IssueDescription] [varchar](1000) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DailyReportId] [int] NULL,
	[ModelId] [int] NULL,
	[OSDReportingDatePercent] [decimal](10, 4) NULL,
	[OSDMTDPercent] [decimal](10, 4) NULL,
	[PlannedOTManhours] [decimal](18, 2) NULL,
	[UnplannedOTManhours] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KPI_DailyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KPI_Daily_Master_Date] UNIQUE NONCLUSTERED 
(
	[KPI_MasterId] ASC,
	[ReportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KPI_Master]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPI_Master](
	[KPI_MasterId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[LineId] [int] NOT NULL,
	[KPIYEAR] [int] NOT NULL,
	[KPIMonth] [int] NOT NULL,
	[ProductionPlan] [decimal](18, 2) NULL,
	[UPHTarget] [decimal](18, 2) NULL,
	[UPPHTarget] [decimal](18, 2) NULL,
	[CPHTarget] [decimal](18, 2) NULL,
	[FPYTarget] [decimal](10, 4) NULL,
	[FTYTarget] [decimal](10, 4) NULL,
	[RTYTarget] [decimal](10, 4) NULL,
	[OSDTarget] [decimal](18, 2) NULL,
	[OTTarget] [decimal](18, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[KPI_MasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_KPI_Master] UNIQUE NONCLUSTERED 
(
	[CustomerId] ASC,
	[CategoryId] ASC,
	[ModelId] ASC,
	[LineId] ASC,
	[KPIYEAR] ASC,
	[KPIMonth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ModelName] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Model_Customer] UNIQUE NONCLUSTERED 
(
	[CustomerId] ASC,
	[ModelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plant]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plant](
	[PlantId] [int] IDENTITY(1,1) NOT NULL,
	[PlantName] [varchar](100) NOT NULL,
	[Location] [varchar](150) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Plant_Name] UNIQUE NONCLUSTERED 
(
	[PlantName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductionLine]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionLine](
	[LineId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[LineName] [varchar](30) NOT NULL,
	[SAPLocation] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Line_Category] UNIQUE NONCLUSTERED 
(
	[CategoryId] ASC,
	[LineName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportApproval]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportApproval](
	[ReportApprovalId] [int] IDENTITY(1,1) NOT NULL,
	[DailyReportId] [int] NOT NULL,
	[ActionBy] [int] NOT NULL,
	[ActionType] [varchar](30) NOT NULL,
	[Comments] [varchar](1000) NULL,
	[ActionAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportApprovalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Role_Name] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29-09-2026 22:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[Email] [varchar](150) NULL,
	[PasswordHash] [varchar](255) NULL,
	[RoleId] [int] NOT NULL,
	[PlantId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DailyIssue] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DailyReport] ADD  CONSTRAINT [DF_DailyReport_Status]  DEFAULT ('DRAFT') FOR [Status]
GO
ALTER TABLE [dbo].[DailyReport] ADD  CONSTRAINT [DF_DailyReport_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[KPI_Daily] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[KPI_Master] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[KPI_Master] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Model] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Plant] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductionLine] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ReportApproval] ADD  DEFAULT (getdate()) FOR [ActionAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Customer]
GO
ALTER TABLE [dbo].[DailyIssue]  WITH CHECK ADD  CONSTRAINT [FK_DailyIssue_Report] FOREIGN KEY([DailyReportId])
REFERENCES [dbo].[DailyReport] ([DailyReportId])
GO
ALTER TABLE [dbo].[DailyIssue] CHECK CONSTRAINT [FK_DailyIssue_Report]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_ApprovedBy] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_ApprovedBy]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_Category]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_CreatedBy]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_Customer]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_Line] FOREIGN KEY([LineId])
REFERENCES [dbo].[ProductionLine] ([LineId])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_Line]
GO
ALTER TABLE [dbo].[KPI_Daily]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Daily_Master] FOREIGN KEY([KPI_MasterId])
REFERENCES [dbo].[KPI_Master] ([KPI_MasterId])
GO
ALTER TABLE [dbo].[KPI_Daily] CHECK CONSTRAINT [FK_KPI_Daily_Master]
GO
ALTER TABLE [dbo].[KPI_Daily]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Daily_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
GO
ALTER TABLE [dbo].[KPI_Daily] CHECK CONSTRAINT [FK_KPI_Daily_Model]
GO
ALTER TABLE [dbo].[KPI_Daily]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Daily_Report] FOREIGN KEY([DailyReportId])
REFERENCES [dbo].[DailyReport] ([DailyReportId])
GO
ALTER TABLE [dbo].[KPI_Daily] CHECK CONSTRAINT [FK_KPI_Daily_Report]
GO
ALTER TABLE [dbo].[KPI_Master]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Master_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[KPI_Master] CHECK CONSTRAINT [FK_KPI_Master_Category]
GO
ALTER TABLE [dbo].[KPI_Master]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Master_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[KPI_Master] CHECK CONSTRAINT [FK_KPI_Master_Customer]
GO
ALTER TABLE [dbo].[KPI_Master]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Master_Line] FOREIGN KEY([LineId])
REFERENCES [dbo].[ProductionLine] ([LineId])
GO
ALTER TABLE [dbo].[KPI_Master] CHECK CONSTRAINT [FK_KPI_Master_Line]
GO
ALTER TABLE [dbo].[KPI_Master]  WITH CHECK ADD  CONSTRAINT [FK_KPI_Master_Model] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Model] ([ModelId])
GO
ALTER TABLE [dbo].[KPI_Master] CHECK CONSTRAINT [FK_KPI_Master_Model]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([CustomerId])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_Customer]
GO
ALTER TABLE [dbo].[ProductionLine]  WITH CHECK ADD  CONSTRAINT [FK_Line_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[ProductionLine] CHECK CONSTRAINT [FK_Line_Category]
GO
ALTER TABLE [dbo].[ReportApproval]  WITH CHECK ADD  CONSTRAINT [FK_ReportApproval_Report] FOREIGN KEY([DailyReportId])
REFERENCES [dbo].[DailyReport] ([DailyReportId])
GO
ALTER TABLE [dbo].[ReportApproval] CHECK CONSTRAINT [FK_ReportApproval_Report]
GO
ALTER TABLE [dbo].[ReportApproval]  WITH CHECK ADD  CONSTRAINT [FK_ReportApproval_User] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[ReportApproval] CHECK CONSTRAINT [FK_ReportApproval_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Plant] FOREIGN KEY([PlantId])
REFERENCES [dbo].[Plant] ([PlantId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Plant]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[KPI_Master]  WITH CHECK ADD  CONSTRAINT [CK_KPI_Master_Month] CHECK  (([KPIMonth]>=(1) AND [KPIMonth]<=(12)))
GO
ALTER TABLE [dbo].[KPI_Master] CHECK CONSTRAINT [CK_KPI_Master_Month]
GO
USE [master]
GO
